<form>
  <a  mat-fab class="prvo-dugme" color="primary" routerLink="/linijeeditdva">Dodaj</a>
  <a  mat-fab class="prvo-dugme" color="primary" (click)="deleteLinija()">Obrisi</a>
  <a  mat-fab class="prvo-dugme" color="primary" routerLink="/linijeupdate">Osvezi</a>
  <a  mat-fab class="prvo-dugme" color="primary" routerLink="/adminview">Pocetna</a>
  <br><br><br>
  <div class="form-group">
    <label for="linija"><b>
      Linija
      </b>
    </label>
    <br>
    <select id="id" name="linija"
            [(ngModel)]="selectedLinija" class="form-control">
            <option *ngFor = "let lin of linije">
              <a title="{{text}}">{{lin}}</a>
            </option>
          </select>
  </div>
</form>