<mat-toolbar color="primary" *ngIf="IsAnonymus();">JGSP NS
    <a mat-fab  class="drugo-dugme" color="primary" routerLink="/">Pocetna</a>
    <a mat-fab  class="drugo-dugme"  color="primary" routerLink="/redvoznje">Red voznje</a>
    <a mat-fab class="drugo-dugme"  color="primary" routerLink="/mrezalinija">Mreza linija</a>
    <a mat-fab class="drugo-dugme"  color="primary" routerLink="/lokacijavozila">Vozila</a>
    <a mat-fab  class="drugo-dugme"  color="primary" routerLink="/cenovnik">Cenovnik</a>
    <a mat-fab  class="drugo-dugme"  color="primary" routerLink="/registracija" >Prijava</a>
</mat-toolbar>
<!-- *ngIf="!jwtIsUndefined(); else LogOut()" -->
<mat-toolbar color="primary" *ngIf="IsNormal();" >JGSP NS
    <a mat-fab  class="prvo-dugme" color="primary" routerLink="/">Pocetna</a>
    <a  mat-fab class="prvo-dugme" color="primary" routerLink="/redvoznje">Red voznje</a>
    <a  mat-fab class="prvo-dugme" color="primary" routerLink="/mrezalinija">Mreza linija</a>
    <a  mat-fab class="prvo-dugme" color="primary" routerLink="/lokacijavozila">Vozila</a>
    <a  mat-fab class="prvo-dugme" color="primary" routerLink="/cenovnik">Cenovnik</a>
    <a  mat-fab class="prvo-dugme" color="primary" routerLink="/registracija" >Prijava</a>
    <a  mat-fab class="prvo-dugme" color="primary" routerLink="/profil" >Profil</a>
    <a  mat-fab class="prvo-dugme" color="primary" (click)="LogOut()" >Odjava</a>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="IsAdmin();">JGSP NS
    <a mat-fab  class="prvo-dugme" color="primary" routerLink="/">Pocetna</a>
    <a  mat-fab class="prvo-dugme" color="primary" routerLink="/redvoznje">Red voznje</a>
    <a  mat-fab class="prvo-dugme" color="primary" routerLink="/mrezalinija">Mreza linija</a>
    <a  mat-fab class="prvo-dugme" color="primary" routerLink="/lokacijavozila">Vozila</a>
    <a  mat-fab class="prvo-dugme" color="primary" routerLink="/cenovnik">Cenovnik</a>
    <a  mat-fab class="prvo-dugme" color="primary" routerLink="/registracija" >Prijava</a>
    <a  mat-fab class="prvo-dugme" color="primary" routerLink="/adminview" >Admin</a>
    <a  mat-fab class="prvo-dugme" color="primary" (click)="LogOut()" >Odjava</a>
</mat-toolbar>