<mat-toolbar color="primary" >JGSP NS
    <a mat-fab  class="prvo-dugme" color="primary" routerLink="/">Pocetna</a>
    <a  mat-fab class="prvo-dugme" color="primary" routerLink="/redvoznje">Red voznje</a>
    <a  mat-fab class="prvo-dugme" color="primary" routerLink="/mrezalinija">Mreza linija</a>
    <a  mat-fab class="prvo-dugme" color="primary" routerLink="/lokacijavozila">Vozila</a>
    <a  mat-fab class="prvo-dugme" color="primary" routerLink="/cenovnik">Cenovnik</a>
    <a  mat-fab class="prvo-dugme" color="primary" routerLink="/registracija" >Prijava</a>
</mat-toolbar>