mat-toolbar {
    text-align: center;
    text-shadow: 20%;
    text-size-adjust: cover;
}

.prvo-dugme {
    margin-left : 5%;
    width: 6.7%;
    height: 3.5rem;
    size: 100%;
    align-content: center;
  }

  .drugo-dugme {
    margin-left : 7%;
    width: 8%;
    height: 3.5rem;
    size: 100%;
    align-content: center;
  }