mat-card {
  width: 80%;
  margin : auto;
  margin-top : 1rem;
}



.prvo-dugme {
  margin-top: 1%;
  margin-left: 8%;
  width: 5rem;
  height: 5rem;
  size: 100%;
  
}

.routingMeni {
  width: 80%;
  height: 90%;
  margin : auto;
  margin-top : 1rem;
}
/* 
/* .drugo-dugme {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 5rem;
  height: 5rem;
  size: 100%;
}

.trece-dugme {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 5rem;
  height: 5rem;
  place-content: center;
}

.cetvrto-dugme {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 5rem;
  height: 5rem;
}

.peto-dugme {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 5rem;
  height: 5rem;
}

.sesto-dugme {
  /* margin-top: 1rem;
  margin-left: 1rem;
  width: 5rem;
  height: 5rem; */



