mat-fab {
  width: 100%;
  color : aquamarine;
  text-align: center;
  height: 100%;
  margin: auto;
}

h1 {
  width : 40%;
  height: 15%;
  margin: auto;
  font-size: 300px;
}

app-header {
  width: 80%;
  margin : auto;
}

