

<app-header></app-header>
<!-- <mat-card>
        <a  mat-fab class="prvo-dugme" color="primary" routerLink="/">Pocetna</a>
        <a  mat-fab class="prvo-dugme" color="accent" routerLink="/redvoznje">Red voznje</a>
        <a  mat-fab class="prvo-dugme" color="warm" routerLink="/mrezalinija">Mreza linija</a>
        <a  mat-fab class="prvo-dugme" color="primary" routerLink="/lokacijavozila">Vozila</a>
        <a  mat-fab class="prvo-dugme" color="accent" routerLink="/cenovnik">Cenovnik</a>
        <a  mat-fab class="prvo-dugme" color="warm" routerLink="/registracija" >Prijava</a>
</mat-card> -->
<!-- <mat-card class="routingMeni"> -->
  <form class="routingMeni">
      <router-outlet ></router-outlet>
  </form>
<app-footer></app-footer>

