mat-card {
  width: 80%;
  margin : auto;
  margin-top : 1rem;
}



.prvo-dugme {
  margin-top: 1%;
  margin-left: 8%;
  width: 5rem;
  height: 5rem;
  size: 100%;
  
}

.routingMeni {
  width: 80%;
  height: 90%;
  margin : auto;
  margin-top : 1rem;
}

.bgImg {
  background-image: url('C:\Users\mbogd\Documents\GitHub\Web2\WebAppFront\src\assets\main-banner1.jpg');
  background-size: 100%;
}
