<form>
    <a  mat-fab class="prvo-dugme" color="primary" routerLink="/staniceedit">Nazad</a>
    <br><br>
  <label><b>Naziv</b></label>
  <br>
  <textarea> </textarea>
  <br><br>

  <label><b>Adresa</b></label>
  <br>
  <textarea> </textarea>
  <br><br>

  <label class="labeldva"><b>X</b></label>
  <br>
  <textarea> </textarea>
  <br><br>

  <label class="labeldva"><b>Y</b></label>
  <br>
  <textarea> </textarea>
  <br><br>

  <button mat-raised-button color="primary" class="dugme">Sacuvaj</button>
</form>