<form>
 
  <br><br><br>
  <div class="form-group">
    <label for="linija"><b>
      Linija
      </b>
    </label>
    <br>
    <select id="id" name="linija"
            [(ngModel)]="selectedLinija" class="form-control" (ngModelChange)="onChange($event)">
          <option *ngFor = "let lin of linije" [(ngValue)] = "lin">
            <a title="{{text}}">{{lin.TransportLineID}}</a>
          </option>
          </select>
  </div>
  <br><br> 
       

  <label class="labeldva"><b>Polasci</b></label>
  <br>
  <textarea class="textarea2" [(ngModel)] = "polasci"
  type = "text"
  [ngModelOptions]="{standalone: true}" disabled rows="15"></textarea>
  <br><br> 

</form>