<form>
  <a  mat-fab class="prvo-dugme" color="primary" routerLink="/staniceeditdva">Dodaj</a>
  <a  mat-fab class="prvo-dugme" color="primary" (click)="deleteStanica()">Obrisi</a>
  <a  mat-fab class="prvo-dugme" color="primary" routerLink="/stanicaupdate">Osvezi</a>
  <a  mat-fab class="prvo-dugme" color="primary" routerLink="/adminview">Pocetna</a>

  <br><br><br>
  <div class="form-group">
    <label for="linija"><b>
      Stanice
      </b>
    </label>
    <br>
    <select id="id" name="linija"
            [(ngModel)]="selectedStanica" class="form-control">
            <option *ngFor = "let st of stanice">
              <a title="{{text}}">{{st}}</a>
            </option>
          </select>
  </div>
  </form>