<form>
    <a  mat-fab class="prvo-dugme" color="primary" routerLink="/redvoznjeedit">Nazad</a>
    <br><br><br>
    <div class="form-group">
      <label for="linija"><b>
        Linija
        </b>
      </label>
      <br>
      <select id="id" name="linija"
              [(ngModel)]="selectedLinija" class="form-control">
            <option *ngFor = "let lin of linije">
              <a title="{{text}}">{{lin}}</a>
            </option>
            </select>
    </div>
    <br><br> 
         
 
        


    <label class="labeldva"><b>Polasci</b></label>
    <br>
    <textarea class="textarea2" [(ngModel)] = "polasci"
    type = "text"
    [ngModelOptions]="{standalone: true}"></textarea>
    <br><br> 

    <button mat-raised-button class="dugme" color="primary" (click)="postDeparture()">Sacuvaj</button>
  </form>