<!-- <mat-card>
        name="username"
        ngModel
        #username="ngModel"  
-->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag -->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


 <form class="glavnaForma">
  <form  #f="ngForm" (submit)="login(f.value, f)" class="form2">
    <mat-form-field>
     <input
        matInput
        type="email"
        name="username"
        ngModel
        required
        #username="ngModel"
        placeholder="Email">

        <mat-error *ngIf="username.invalid">Unesi svoj mail!</mat-error>
      </mat-form-field>

      <br>
      <br>
      <mat-form-field>
      <input
        matInput
        type="password"
        name="password"
        ngModel
        required
        placeholder="Password"
        #password="ngModel">
      
        <mat-error *ngIf="password.invalid">Unesi svoj password!</mat-error>
    </mat-form-field>
    <br><br>
    <button mat-raised-button
      color="accent" type="submit" >Prijavi se</button>
      
  </form>

  <form [formGroup] = "rf" (ngSubmit)="regUse()"  class="form1">
    <p ><span class="fa fa-user"></span>
       <input
          matInput
          type="email"
          formControlName = "email"
          placeholder="Email"
          required>
        </p>
         
         
        <br>
        <p ><span class="fa fa-user"></span>
        <input
          matInput
          type="password"
          placeholder="Sifra"
          formControlName = "password"
          required>
        </p>
      
      <br>
      <p ><span class="fa fa-user"></span>
          <input
            matInput
            type="password"
            placeholder="Potvrdi sifru"
            formControlName = "confirmPassword"
            required>
          </p>
     
      <br>

      <p ><span class="fa fa-user"></span>
          <input
             matInput
             type="text"
             formControlName = "name"
             placeholder="Ime"
             required>
            </p>
     
           <br>

           <p ><span class="fa fa-user"></span>  
              <input
                 matInput
                 type="text"
                 required
                 formControlName = "surname"
                 placeholder="Prezime">
                </p>
              
       
               <br>
               <p ><span class="fa fa-user"></span>
                  <input
                     matInput
                     type="text"
                     formControlName = "adress"
                     placeholder="Adresa"
                     required>
                    </p>
             
                 
                   <br>

                   <p ><span class="fa fa-user"></span>
                      <input
                         matInput
                         type="date"
                         formControlName = "date"
                         placeholder="Datum rodjenja"
                         required>
                        </p>
                       
                
                        <br>
                     
                        <select id="id" name="linija"
                        formControlName="tip" class="form-control">
                      <option *ngFor = "let lin of tipovi">
                        {{lin}}
                      </option>
                      </select>
                  
                       <br>
      <button mat-raised-button
        color="primary" type="submit">Registruj se</button>
        
    </form>
  </form>

<!-- </mat-card> -->
