.vl {
    width : 3px;
    height : 100%;
    background-color: green;
    margin-left: 30%;
    
}

.form1 {
    
    float: right;
    margin-right: 20%;
    margin-top: 5%; 
}


.form2 {
    margin-left: 20%;
    margin-top: 5%;
    float: left;
}

.glavnaForma {
    width : 70%;
    height: 100%;
    margin : auto;
    background-color:silver;
}