<form>
    <a  mat-fab class="prvo-dugme" color="primary" routerLink="/linijeedit">Nazad</a>
    <br><br>
    <label><b>Redni broj</b></label>
    <br>
    <textarea [(ngModel)]= "transportLine" [ngModelOptions]="{standalone: true}"> </textarea>
    <br><br>

    <label class="labeldva"><b>Smer</b></label>
    <br>
    <textarea class="textarea2" [(ngModel)]= "fromTo" [ngModelOptions]="{standalone: true}"> </textarea>
    <br><br><br>
  
  
    <button mat-raised-button class="dugme" color="primary" (click)="postLine()">Sacuvaj</button>
  </form>