<form>
  <a  mat-fab class="prvo-dugme" color="primary" routerLink="/adminview">Pocetna</a>

  <br><br><br>
  <div class="form-group">
    <label for="linija"><b>
      Linije
      </b>
    </label>
    <br>
    <select id="id" name="linija"
            [(ngModel)]="linija" class="form-control">
          <option value="1">Djacka</option>
          <option value="2">Penzionerska</option>
          <option value="3">Regularna</option>
          </select>
        </div>
  <br><br><br>
  <div class="form-group">
    <label for="stanica"><b>
      Stanice
      </b>
    </label>
    <br>
    <select id="id" name="stanica"
            [(ngModel)]="stanica" class="form-control">
          <option value="1">Djacka</option>
          <option value="2">Penzionerska</option>
          <option value="3">Regularna</option>
          </select>
  </div>
  <br><br><br>
  <button mat-raised-button class="dugme" color="primary">Spoji</button>
  </form>