<form>
  <a  mat-fab class="prvo-dugme" color="primary" routerLink="/adminview">Pocetna</a>

  <br><br><br>
  <div class="form-group">
    <label for="linija"><b>
      Linije
      </b>
    </label>
    <br>
    <select id="id" name="linija"
            [(ngModel)]="selectedLinija" class="form-control">
            <option *ngFor = "let lin of linije">
              <a title="{{text}}">{{lin}}</a>
            </option>
          </select>
        </div>
  <br><br><br>
  <div class="form-group">
    <label for="stanica"><b>
      Stanice
      </b>
    </label>
    <br>
    <select id="id" name="stanica"
            [(ngModel)]="selectedStanica" class="form-control">
            <option *ngFor = "let st of stanice">
              <a title="{{text}}">{{st}}</a>
            </option>
          </select>
  </div>
  <br><br><br>
  <button mat-raised-button class="dugme" color="primary" (click)="spoji()">Spoji</button>
  </form>