<form>
    <agm-map  [latitude]="latitude" [longitude]="longitude" [zoom]="14">

      </agm-map>

      <br><br><br><br><br><br>
      <div class="form-group">
        <label for="korisnik"><b>
          Linije
          </b>
        </label>
        <br>
        <select id="id" name="linija"
            [(ngModel)]="selectedLinija" class="form-control">
            <option *ngFor = "let lin of linije">
              <a title="{{text}}">{{lin}}</a>
            </option>
          </select>
      </div>
      <br><br>

  </form>
