<form>
    <!-- <agm-map  [latitude]="latitude" [longitude]="longitude" [zoom]="14">

      </agm-map> -->
      <div #map style="width:800px; height:590px; transition-property: filter; transition-duration: 0.8s; float:right;"></div>

      <br><br><br><br><br><br>
      <div class="form-group">
        <label for="korisnik"><b>
          Linije
          </b>
        </label>
        <br>
        <select id="id" name="linija"
            [(ngModel)]="selectedLinija" class="form-control" (ngModelChange)="onChange($event)">
            <option *ngFor = "let lin of linije">
              <a title="{{text}}">{{lin}}</a>
            </option>
          </select>
      </div>
      <br><br> 
      <button name="button" (click)="Submit()">Clear all routes</button>

  </form>
