<form>
  <a  mat-fab class="prvo-dugme" color="primary" routerLink="/redvoznjeeditdva">Dodaj</a>
  <a  mat-fab class="prvo-dugme" color="primary" (click)="deleteRed()" >Obrisi</a>
  <a  mat-fab class="prvo-dugme" color="primary" routerLink="/redvoznjeupdate">Osvezi</a>
  <a  mat-fab class="prvo-dugme" color="primary" routerLink="/adminview">Pocetna</a>

  <br><br><br>
  <div class="form-group">
    <label for="linija"><b>
      Red voznje
      </b>
    </label>
    <br>
    <select id="id" name="linija"
            [(ngModel)]="selectedRed" class="form-control">
            <option *ngFor = "let red of redovi">
              <a title="{{text}}">{{red}}</a>
            </option>
          </select>
  </div>
  </form>