<div >
<form class="formaCenovnik">
  <br>
  <br>
    <div class="form-group">
      <label for="korisnik"><b>
        Tip karte
        </b>
      </label>
      <br>
      <select [(ngModel)] = "tipKarte" name="korisnik"
               class="form-control">
            <option *ngFor = "let k of karte">{{k}}</option>
      </select>
    </div>
    <br>
    <br>
    <br>
    <div class="form-group">
        <label for="vreme"><b>
          Tip korisnika
          </b>
        </label>
        <br>
        <select name="vreme"
                [(ngModel)]="tipKupca" class="form-control">
              <option *ngFor="let k2 of kupci">{{k2}}</option>
        </select>
      </div>
      <br>
      <br>
      <br>
      <label>
        <b>Cena</b>
      </label>
      <label class="cenaLabel">
          <b>{{cenaTemp}} din</b>
      </label>
      <br>
      <br>
      <button mat-raised-button
      color="primary" (click)="proveriCenu()" class="dugme2">Proveri cenu</button> 
      <br>
      <br>

      <form (submit)="kupiKartu(f.value, f)" #f="ngForm" class="formaCenovnik2">
            <div hidden #divPaypal>
              <br>
              <p *ngIf="cenaEur"> Cena EUR,PP ne podrzava RSD!</p>
              <label *ngIf="cenaEur" class="font-1-1">{{cenaEura}} eur</label>
              <br>
              <div id="paypal-checkout-btn"></div>
              <div *ngIf="kupljenaKartaID > 0">
                <label class="font-1-1">ID karte je <b>{{kupljenaKartaID}}</b></label>
                <br>
                <label class="font-1-1">Vazi do: <br> <b style="text-align: center;">{{kupljenaKartaIstice}}</b></label>
                <br>
                <label class="font-1-1">Cena RSD <b>{{cenaTemp}}</b></label>
              </div>
            </div>
      </form>
</form>
</div>